# macOS
.DS_Store

# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.xcuserstate
xcuserdata/

# XcodeGen 生成物
HelloApp.xcodeproj

# 打包产物
Payload/
*.ipa

# Python venv
server/venv/
__pycache__/
*.pyc

# Theos / 其他
.theos/
obj/
